{
  "**/*.{ts,tsx,js,jsx,cjs,mjs,md}": ["eslint --fix", "git add"],
  "**/*.{ts,tsx,js,jsx,cjs,mjs,md,json,lintstagedrc}": [
    "prettier --write",
    "git add"
  ],
  "!src/graphql/types/**/*": []
}
